/* For variables */
:root {
    --home-color: #2565ae;
    --abtcon-color: #3c99dc;
    --proj-color: #66d3fa;
    --black-sub: #062c62;
    --reddish: #ee6d6d;
    --typeSpeed: 6s;
    --typeChars: 20;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

@font-face {
    font-family: "AstroSpace";
    src: url(./fonts/AstroSpace.ttf);
}

h1, h2{
    font-size: 3em;
    font-family: "AstroSpace";
    color: white;
    width: max-content;
}

section {
    font-family: "AstroSpace";
    color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start; 
}

.astro-red {
    color: var(--reddish);
}

.home {
    background: var(--home-color);
}

h1::before,
h1::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

h1::before {
    background: var(--home-color);
}

.about {
    font-size: 3em;
    font-family: "AstroSpace";
    background: var(--abtcon-color);
}

.projects {
    font-size: 3em;
    font-family: "AstroSpace";
    background: var(--proj-color);
}

.contact {
    font-size: 3em;
    font-family: "AstroSpace";
    background: var(--abtcon-color);
}

.page-container {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
    transition: margin-left .5s;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: #111;
    background-image: linear-gradient(to right, var(--black-sub), var(--home-color));
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.sidenav a{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #f1f1f1;
    display: block;
    transition: 3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.sidenav .menu-item {
    font-family: "AstroSpace";
    background-color: #e3efe8;
    background-image: linear-gradient(315deg, #e3efe8 0%, #96a7cf 74%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.openbtn {
    top: 0px;
    right: 20px;
    height: 50px;
    width: 50px;
    position: absolute;
    z-index: 1;
    background: url(./images/hamburger-menu.png);
    background-size: 50px; 
}

.home-nav {
    background-image: linear-gradient(to right, var(--black-sub), var(--home-color));
}

.about-nav {
    background-image: linear-gradient(to right, var(--black-sub), var(--abtcon-color));
}

.proj-nav {
    background-image: linear-gradient(to right, var(--black-sub), var(--proj-color));
}

.cont-nav {
    background-image: linear-gradient(to right, var(--black-sub), var(--abtcon-color));
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px}
    .sidenav a {font-size: 18px};
}