* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

@font-face {
    font-family: "AstroSpace";
    src: url(./fonts/AstroSpace.ttf);
}

h1 {
    font-family: "AstroSpace";
    color: white;
}

section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start; 
}

.home {
    background: #2565ae;
}

.about {
    background: #3c99dc;
}

.projects {
    background: #66d3fa;
}

.contact {
    background: #3c99dc;
}

.page-container {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
    transition: margin-left .5s;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: #111;
    background-image: linear-gradient(to right, #2565ae, black);
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.sidenav a{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.sidenav .menu-item {
    font-family: "AstroSpace"
}

.openbtn {
    top: 0px;
    right: 20px;
    height: 50px;
    width: 50px;
    position: absolute;
    z-index: 1;
    background: url(./images/hamburger-menu.png);
    background-size: 50px; 
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px}
    .sidenav a {font-size: 18px};
}